Repository Cryorithm/steno: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfix, export-requirements

yamlfix:
  name: yamlfix
  entry: yamlfix
  language: python

export-requirements:
  name: Export requirements.txt
  language: system
  pass_filenames: false
  entry: make update-requirements

Remove cruft from pyproject.toml
  README.md
  poetry.lock
  pyproject.toml
Due: export-requirements

make check is now green
  README.md
  requirements.txt
  steno/managers/config.py
  tests/client_openai_test.py
Due: none

Add loguru
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

Progress
  steno/cli/main.py
  steno/clients/llm.py
  steno/clients/openai.py
  tests/client_openai_test.py
Due: none

Comment out claude and gemini for now.
  steno/cli/main.py
Due: none

Add managers/transcript
  steno/cli/main.py
  steno/managers/transcript/__init__.py
  steno/managers/transcript/base.py
  steno/managers/transcript/github.py
Due: none

Fix make check
  steno/managers/transcript/base.py
  steno/managers/transcript/github.py
Due: none

$ poetry add github
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

poetry add pygithub instead of github
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements

Incremental commit
  pyproject.toml
  steno/cli/main.py
  steno/managers/log.py
  steno/managers/transcript/github.py
Due: export-requirements

Progress.
  steno/cli/main.py
  steno/managers/config.py
  steno/managers/log.py
  steno/managers/transcript/github.py
Due: none

Working on config issues
  README.md
  steno.example.yaml
  steno/cli/main.py
  steno/managers/config.py
  steno/managers/log.py
  steno/managers/transcript/github.py
Due: yamlfix

Revise readme
  README.md
Due: none

Working on jsonschema
  poetry.lock
  pyproject.toml
  steno.example.yaml
  steno/cli/main.py
  steno/managers/config.py
Due: yamlfix, export-requirements

Back to make check all green
  requirements.txt
  steno.example.yaml
  steno/cli/main.py
  steno/managers/config.py
Due: yamlfix

Still trying to fix layered config issues.
  steno.example.yaml
  steno/cli/main.py
  steno/managers/config.py
Due: yamlfix

Progress on ConfigManager
  steno/cli/main.py
  steno/managers/config.py
  steno/managers/log.py
Due: none

Checkpoint
  steno/managers/config.py
Due: none

Path conditions:
  yamlfix: any of: \.(yaml|yml)$
  export-requirements: any of: ^(pyproject.toml|poetry.lock)$
